---
http_interactions:
- request:
    method: post
    uri: https://getintoteachingapi-development.test.teacherservices.cloud/api/get_into_teaching/callbacks
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One
        or more validation errors occurred.","status":400,"errors":{"Email":["''Email''
        must not be empty."],"LastName":["''Last Name'' must not be empty."],"FirstName":["''First
        Name'' must not be empty."],"TalkingPoints":["''Talking Points'' must not
        be empty."],"AcceptedPolicyId":["''Accepted Policy Id'' must not be empty."],"AddressTelephone":["''Address
        Telephone'' must not be empty."],"PhoneCallScheduledAt":["''Phone Call Scheduled
        At'' must not be empty."]},"traceId":"00-27d7479e2f3f1be993a0e52921c61222-9cc9ceddc4613d0b-00"}'
  recorded_at: Mon, 01 Jun 2026 11:09:46 GMT
recorded_with: VCR 6.4.0
