---
http_interactions:
- request:
    method: post
    uri: https://getintoteachingapi-development.test.teacherservices.cloud/api/get_into_teaching/callbacks
    body:
      encoding: UTF-8
      string: '{"email":"johndoe@example.com","firstName":"John","lastName":"Doe","addressTelephone":"07735 111111","phoneCallScheduledAt":"2026-06-16T14:00:00Z","talkingPoints":"I would like to discuss teaching as a career.","acceptedPolicyId":"4872c8ed-0229-f111-8342-7c1e5285e3ab","candidateId":"d85a2f0b-290f-4931-98e2-e7d817ac38f3"}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 16 Jun 2026 10:00:00 GMT
recorded_with: VCR 6.4.0
