---
http_interactions:
- request:
    method: post
    uri: https://getintoteachingapi-development.test.teacherservices.cloud/api/get_into_teaching/callbacks/matchback
    body:
      encoding: UTF-8
      string: '{"email":"johndoe@example.com","first_name":"John","last_name":"Doe","date_of_birth":"1990-01-01"}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"candidateId":"49d242a4-304c-4df3-954e-ff0554f34593","acceptedPolicyId":null,"email":"johndoe@example.com","firstName":"John","lastName":"Doe","addressTelephone":"07735
        111111","phoneCallScheduledAt":null,"talkingPoints":null,"creationChannelSourceId":null,"creationChannelServiceId":null,"creationChannelActivityId":null,"defaultContactCreationChannel":222750043,"defaultCreationChannelSourceId":222750003,"defaultCreationChannelServiceId":222750007,"defaultCreationChannelActivityId":null}'
  recorded_at: Fri, 19 Jun 2026 11:02:48 GMT
recorded_with: VCR 6.4.0
