---
http_interactions:
- request:
    method: get
    uri: https://getintoteachingapi-development.test.teacherservices.cloud/api/callback_booking_quotas
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"timeSlot":"9am - 9:30am","day":"Thursday 30 April","startAt":"2026-04-30T08:00:00Z","endAt":"2026-04-30T08:30:00Z","numberOfBookings":0,"quota":20,"isAvailable":true,"id":"73bdc2c6-7fa3-f011-bbd3-6045bd9399eb"},{"timeSlot":"9:30am
        - 10am","day":"Thursday 30 April","startAt":"2026-04-30T08:30:00Z","endAt":"2026-04-30T09:00:00Z","numberOfBookings":0,"quota":20,"isAvailable":true,"id":"27d74cc7-7fa3-f011-bbd3-000d3a384b51"},{"timeSlot":"10am
        - 10:30am","day":"Thursday 30 April","startAt":"2026-04-30T09:00:00Z","endAt":"2026-04-30T09:30:00Z","numberOfBookings":0,"quota":20,"isAvailable":true,"id":"29d74cc7-7fa3-f011-bbd3-000d3a384b51"},{"timeSlot":"10[...]
