---
http_interactions:
- request:
    method: get
    uri: https://getintoteachingapi-development.test.teacherservices.cloud/api/lookup_items/countries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":"fdf3c2e6-74f9-e811-a97a-000d3a2760f2","value":"Afghanistan","isoCode":"AF"},{"id":"fff3c2e6-74f9-e811-a97a-000d3a2760f2","value":"Albania","isoCode":"AL"},{"id":"01f4c2e6-74f9-e811-a97a-000d3a2760f2","value":"Algeria","isoCode":"DZ"},{"id":"03f4c2e6-74f9-e811-a97a-000d3a2760f2","value":"Andorra","isoCode":"AD"},{"id":"05f4c2e6-74f9-e811-a97a-000d3a2760f2","value":"Angola","isoCode":"AO"},{"id":"6f9e7b81-e44d-f011-877a-00224886d23e","value":"Another
        Country","isoCode":null},{"id":"07f4c2e6-74f9-e811-a97a-000d3a2760f2","value":"Antigua
        and Barbuda","[...]
