---
http_interactions:
- request:
    method: get
    uri: https://getintoteachingapi-development.test.teacherservices.cloud/api/lookup_items/degree_countries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":"6f9e7b81-e44d-f011-877a-00224886d23e","value":"Another Country","isoCode":null},{"id":"72f5c2e6-74f9-e811-a97a-000d3a2760f2","value":"United
        Kingdom","isoCode":"GB"}]'
  recorded_at: Tue, 28 Apr 2026 11:41:57 GMT
recorded_with: VCR 6.4.0
