---
http_interactions:
- request:
    method: post
    uri: https://getintoteachingapi-development.test.teacherservices.cloud/api/schools_experience/candidates/candidate-123/school_experience
    body:
      encoding: UTF-8
      string: '{"schoolUrn":"123456","durationOfPlacementInDays":5,"dateOfSchoolExperience":"2026-09-15","teachingSubjectId":"subject-1","notes":"Student showed great interest.","schoolName":"Example High School"}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: ""
  recorded_at: Mon, 22 Jun 2026 12:00:00 GMT
recorded_with: VCR 6.4.0
