---
http_interactions:
- request:
    method: post
    uri: https://getintoteachingapi-development.test.teacherservices.cloud/api/schools_experience/candidates
    body:
      encoding: UTF-8
      string: '{"email":"johndoe@example.com","first_name":"John","last_name":"Doe","preferred_teaching_subject_id":"b02655a1-2afa-e811-a981-000d3a276620","accepted_policy_id":"4872c8ed-0229-f111-8342-7c1e5285e3ab","address_line1":"123
        Main St","address_city":"London","address_state_or_province":"London","address_postcode":"SW1A
        1AA","telephone":"01234567890","has_dbs_certificate":true}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"candidateId":"abc-123","email":"johndoe@example.com","firstName":"John","lastName":"Doe","preferredTeachingSubjectId":"subject-1","secondaryPreferredTeachingSubjectId":"subject-2","addressLine1":"123 Main St","addressLine2":"Apt 4B","addressLine3":"Little Whinging","addressCity":"London","addressStateOrProvince":"London","addressPostcode":"SW1A 1AA","telephone":"01234567890","hasDbsCertificate":true,"dbsCertificateIssuedAt":"2024-01-15","qualificationId":"qual-1","degreeStatusId":222750000,"degreeTypeId":222750002,"degreeSubject":"Mathematics","ukDegreeGradeId":222750002,"creationChannelSourceId":"source-1","creationChannelServiceId":"service-1","creationChannelActivityId":"activity-1","acceptedPolicyId":"policy-1","masterId":null,"merged":false,"fullName":"John Doe","defaultContactCreationChannel":null,"defaultCreationChannelSourceId":null,"defaultCreationChannelServiceId":null,"defaultCreationChannelActivityId":null}'
  recorded_at: Mon, 22 Jun 2026 12:00:00 GMT
recorded_with: VCR 6.4.0
