---
http_interactions:
- request:
    method: post
    uri: https://getintoteachingapi-development.test.teacherservices.cloud/api/schools_experience/candidates/exchange_access_token/abc123
    body:
      encoding: UTF-8
      string: '{"email":"johndoe@example.com","first_name":"John","last_name":"Doe"}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"candidateId":"abc-123","email":"johndoe@example.com","firstName":"John","lastName":"Doe","preferredTeachingSubjectId":"subject-1","secondaryPreferredTeachingSubjectId":"subject-2","addressLine1":"123 Main St","addressLine2":"Apt 4B","addressLine3":"Little Whinging","addressCity":"London","addressStateOrProvince":"London","addressPostcode":"SW1A 1AA","telephone":"01234567890","hasDbsCertificate":true,"dbsCertificateIssuedAt":"2024-01-15","qualificationId":"qual-1","degreeStatusId":222750000,"degreeTypeId":222750002,"degreeSubject":"Mathematics","ukDegreeGradeId":222750002,"creationChannelSourceId":"source-1","creationChannelServiceId":"service-1","creationChannelActivityId":"activity-1","acceptedPolicyId":"policy-1","masterId":null,"merged":false,"fullName":"John Doe","defaultContactCreationChannel":null,"defaultCreationChannelSourceId":null,"defaultCreationChannelServiceId":null,"defaultCreationChannelActivityId":null}'
  recorded_at: Mon, 22 Jun 2026 12:00:00 GMT
recorded_with: VCR 6.4.0
