---
http_interactions:
- request:
    method: post
    uri: https://getintoteachingapi-development.test.teacherservices.cloud/api/teaching_events
    body:
      encoding: UTF-8
      string: '{"typeId":222750012,"statusId":222750000,"readableId":"test-event-123","name":"Test
        Event","startAt":"2026-12-01T09:00:00","endAt":"2026-12-01T17:00:00"}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - http://getintoteachingapi-development.test.teacherservices.cloud/api/teaching_events/test-event-123
    body:
      encoding: UTF-8
      string: '{"typeId":222750012,"statusId":222750000,"regionId":null,"readableId":"test-event-123","webFeedId":null,"isOnline":false,"name":"Test
        Event","summary":null,"message":null,"description":null,"videoUrl":null,"scribbleId":null,"providerWebsiteUrl":null,"providerTargetAudience":null,"providerOrganiser":null,"providerContactEmail":null,"startAt":"2026-12-01T09:00:00","endAt":"2026-12-01T17:00:00","providersList":null,"building":null,"isVirtual":false,"accessibilityOptions":[],"isInPerson":true,"id":"883a045d-982f-4d44-8247-1aec5125a81c"}'
  recorded_at: Mon, 29 Jun 2026 15:25:07 GMT
recorded_with: VCR 6.4.0
