---
http_interactions:
- request:
    method: post
    uri: https://getintoteachingapi-development.test.teacherservices.cloud/api/teaching_events/attendees
    body:
      encoding: UTF-8
      string: '{"eventId":"6a1f3a0f-9c76-f011-b4cb-7c1e5283b7df","email":"johndoe@example.com","firstName":"John","lastName":"Doe","acceptedPolicyId":"4872c8ed-0229-f111-8342-7c1e5285e3ab"}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 29 Jun 2026 15:25:07 GMT
recorded_with: VCR 6.4.0
