---
http_interactions:
- request:
    method: post
    uri: https://getintoteachingapi-development.test.teacherservices.cloud/api/teaching_events/attendees/exchange_unverified_request
    body:
      encoding: UTF-8
      string: '{"email": "johndoe@example.com", "first_name": "John", "last_name": "Doe", "date_of_birth": "2000-01-01", "reference": "ABC123"}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"candidate_id": "1eca4f11-7d2b-4016-8ec9-838a6a39593f", "qualification_id": "ae18f2af-944e-4d05-be25-f7b257cf7927", "preferred_teaching_subject_id": "6b793433-cd1f-e911-a979-000d3a20838a", "consideration_journey_stage_id": null, "degree_status_id": 222750000, "email": "johndoe@example.com", "first_name": "John", "last_name": "Doe", "address_postcode": null, "address_telephone": null, "is_verified": false, "already_subscribed_to_events": false, "already_subscribed_to_mailing_list": false, "already_subscribed_to_teacher_training_adviser": false, "accessibility_needs_for_event": null, "event_id": null, "channel_id": null, "accepted_policy_id": null, "is_walk_in": false, "subscribe_to_mailing_list": false, "creation_channel_source_id": null, "creation_channel_service_id": null, "creation_channel_activity_id": null, "default_contact_creation_channel": 222750029, "default_creation_channel_source_id": 222750003, "default_creation_channel_service_id": 222750006, "default_creation_channel_activity_id": null}'
  recorded_at: Mon, 29 Jun 2026 15:25:07 GMT
recorded_with: VCR 6.4.0
