---
http_interactions:
- request:
    method: post
    uri: https://getintoteachingapi-development.test.teacherservices.cloud/api/teaching_events/attendees/exchange_access_token/877483
    body:
      encoding: UTF-8
      string: '{"email":"johndoe@example.com"}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"candidateId":"2eb391da-d707-4cb4-8def-505efc8ae2ea","qualificationId":"4494eff8-d6ce-430a-9c9b-c2dbf90f5add","preferredTeachingSubjectId":"a42655a1-2afa-e811-a981-000d3a276620","considerationJourneyStageId":222750000,"degreeStatusId":222750002,"email":"johndoe@example.com","firstName":"John","lastName":"Doe","addressPostcode":"BN1 1AA","addressTelephone":"01234567890","isVerified":true,"alreadySubscribedToEvents":true,"alreadySubscribedToMailingList":true,"alreadySubscribedToTeacherTrainingAdviser":true,"accessibilityNeedsForEvent":null,"eventId":null,"channelId":null,"acceptedPolicyId":null,"isWalkIn":false,"subscribeToMailingList":false,"creationChannelSourceId":null,"creationChannelServiceId":null,"creationChannelActivityId":null,"defaultContactCreationChannel":222750029,"defaultCreationChannelSourceId":222750003,"defaultCreationChannelServiceId":222750006,"defaultCreationChannelActivityId":null}'
  recorded_at: Mon, 29 Jun 2026 15:30:00 GMT
recorded_with: VCR 6.4.0
