---
http_interactions:
- request:
    method: post
    uri: https://getintoteachingapi-development.test.teacherservices.cloud/api/teaching_events/attendees/exchange_access_token/877483
    body:
      encoding: UTF-8
      string: '{"email":"johndoe@example.com"}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"candidateId":"abc-123","email":"johndoe@example.com","preferredTeachingSubjectId":"subject-1","considerationJourneyStageId":222750000,"degreeStatusId":222750000,"addressPostcode":"SW1A 1AA","addressTelephone":"01234567890","isVerified":false,"isWalkIn":false,"subscribeToMailingList":false,"alreadySubscribedToEvents":false,"alreadySubscribedToMailingList":false,"alreadySubscribedToTeacherTrainingAdviser":false,"accessibilityNeedsForEvent":null}'
  recorded_at: Mon, 29 Jun 2026 15:30:00 GMT
recorded_with: VCR 6.4.0
