---
http_interactions:
- request:
    method: post
    uri: https://getintoteachingapi-development.test.teacherservices.cloud/app/views/api/teaching_events/exchange_unverified_requests
    body:
      encoding: UTF-8
      string: '{"event_id":"123e4567-e89b-12d3-a456-426614174000","email":"johndoe@example.com","first_name":"John","last_name":"Doe","accepted_policy_id":"4872c8ed-0229-f111-8342-7c1e5285e3ab","candidate_id":"d85a2f0b-290f-4931-98e2-e7d817ac38f3","qualification_id":"13da3277-c8ba-4b64-a79e-b0a3960c26be","channel_id":222750049,"creation_channel_source_id":222750000,"creation_channel_service_id":222750010,"creation_channel_activity_id":222750017,"preferred_teaching_subject_id":"b02655a1-2afa-e811-a981-000d3a276620","consideration_journey_stage_id":222750000,"degree_status_id":222750000,"address_postcode":"BN1 1AA","address_telephone":"07735 111111","is_verified":false,"is_walk_in":false,"subscribe_to_mailing_list":false,"already_subscribed_to_events":false,"already_subscribed_to_mailing_list":false,"already_subscribed_to_teacher_training_adviser":false,"accessibility_needs_for_event":"Wheelchair accessible space required"}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"candidateId":"d85a2f0b-290f-4931-98e2-e7d817ac38f3","email":"johndoe@example.com","firstName":"John","lastName":"Doe"}'
  recorded_at: Mon, 29 Jun 2026 15:25:07 GMT
recorded_with: VCR 6.4.0
