module CRM
  module Resources
<% intermediate_modules.each_with_index do |mod, i| -%>
<%= "  " * (i + 2) %>module <%= mod %>
<% end -%>
<%= "  " * (intermediates.length + 2) %>class <%= collection_class %>
<%= "  " * (intermediates.length + 3) %># @return [Array<<%= crm_resource_ns %>::<%= singular_class %>]
<%= "  " * (intermediates.length + 3) %>def all(*)
<%= "  " * (intermediates.length + 4) %>raise NotImplementedError
<%= "  " * (intermediates.length + 3) %>end
<%= "  " * (intermediates.length + 2) %>end
<% intermediate_modules.length.downto(1) do |k| -%>
<%= "  " * (k + 1) %>end
<% end -%>
  end
end
