module CRM
  module Adapters
    module GetIntoTeaching
      module Resources
        class <%= list_type_class %> < CRM::Resources::<%= list_type_class %>
          def initialize(client)
            @client = client
          end

          def <%= list_type_first_method %> = <%= list_type_first_method_return %>.new(@client)
        end
      end
    end
  end
end
