module CRM
  module Adapters
    module GetIntoTeaching
      module Resources
<% intermediate_modules.each_with_index do |mod, i| -%>
<%= "  " * (i + 4) %>module <%= mod %>
<% end -%>
<%= "  " * (intermediates.length + 4) %>class <%= collection_class %> < CRM::Adapters::GetIntoTeaching::Resource
<%= "  " * (intermediates.length + 5) %>def all(**params)
<%= "  " * (intermediates.length + 6) %>response = get_request("<%= api_path %>", params: params)
<%= "  " * (intermediates.length + 6) %>response_to_collection(response, type: <%= crm_resource_ns %>::<%= singular_class %>)
<%= "  " * (intermediates.length + 5) %>end
<%= "  " * (intermediates.length + 4) %>end
<% intermediate_modules.length.downto(1) do |k| -%>
<%= "  " * (k + 3) %>end
<% end -%>
      end
    end
  end
end
