require "rails_helper"

RSpec.describe CRM::Adapters::GetIntoTeaching::Resources::<%= list_type_class %> do
  let(:client) { instance_double(CRM::Adapters::GetIntoTeaching::Client) }

  subject(:resource) { described_class.new(client) }

  describe "#<%= list_type_first_method %>" do
    it "returns a GIT <%= list_type_first_method_return %>" do
      expect(resource.<%= list_type_first_method %>).to be_a(CRM::Adapters::GetIntoTeaching::Resources::<%= list_type_first_method_return %>)
    end
  end
end
