require "rails_helper"

RSpec.describe CRM::Resources::<%= list_type_module %>::<%= category_class %> do
  subject(:resource) { described_class.new }

  describe "#<%= collection %>" do
    it "raises NotImplementedError" do
      expect { resource.<%= collection %> }.to raise_error(NotImplementedError)
    end
  end
end
