---
http_interactions:
- request:
    method: post
    uri: https://getintoteachingapi-development.test.teacherservices.cloud/api/candidates/access_tokens
    body:
      encoding: UTF-8
      string: '{"email":"johndoe@example.com","firstName":"John","lastName":"Doe","dateOfBirth":"2000-01-01"}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 11 Jun 2026 09:30:06 GMT
recorded_with: VCR 6.4.0
