---
http_interactions:
- request:
    method: post
    uri: https://getintoteachingapi-development.test.teacherservices.cloud/api/mailing_list/members/exchange_access_token/abc123
    body:
      encoding: UTF-8
      string: '{"email":"johndoe@example.com","firstName":"John","lastName":"Doe","dateOfBirth":"1990-01-01"}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"candidateId":"0a857c51-696c-4b02-ba71-75b31ccef673","qualificationId":null,"preferredTeachingSubjectId":"b02655a1-2afa-e811-a981-000d3a276620","acceptedPolicyId":null,"considerationJourneyStageId":null,"channelId":null,"creationChannelSourceId":null,"creationChannelServiceId":null,"creationChannelActivityId":null,"email":"johndoe@example.com","firstName":"john","lastName":"doe","addressPostcode":"M20 4AA","welcomeGuideVariant":null,"alreadySubscribedToEvents":false,"alreadySubscribedToMailingList":false,"alreadySubscribedToTeacherTrainingAdviser":true,"defaultContactCreationChannel":222750028,"defaultCreationChannelSourceId":222750003,"defaultCreationChannelServiceId":222750007,"defaultCreationChannelActivityId":null,"situation":null,"citizenship":null,"visaStatus":null,"location":null,"graduationYear":null,"inferredGraduationDate":null,"degreeStatusId":null}'
  recorded_at: Thu, 11 Jun 2026 09:30:06 GMT
recorded_with: VCR 6.4.0
