---
http_interactions:
- request:
    method: post
    uri: https://getintoteachingapi-development.test.teacherservices.cloud/api/mailing_list/members
    body:
      encoding: UTF-8
      string: '{"email":"johndoe@example.com","firstName":"John","lastName":"Doe","acceptedPolicyId":"4872c8ed-0229-f111-8342-7c1e5285e3ab","considerationJourneyStageId":222750000,"preferredTeachingSubjectId":"b02655a1-2afa-e811-a981-000d3a276620","addressPostcode":"BN1
        1AA","graduationYear":2028,"degreeStatusId":222750000,"candidateId":"d85a2f0b-290f-4931-98e2-e7d817ac38f3"}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"degreeStatusId":222750003}'
  recorded_at: Wed, 17 Jun 2026 11:08:46 GMT
recorded_with: VCR 6.4.0
