---
http_interactions:
- request:
    method: post
    uri: https://getintoteachingapi-development.test.teacherservices.cloud/api/teacher_training_adviser/candidates/exchange_access_token/abc123
    body:
      encoding: UTF-8
      string: '{"email":"johndoe@example.com","firstName":"John","lastName":"Doe","dateOfBirth":"1990-01-01"}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"candidateId":"d85a2f0b-290f-4931-98e2-e7d817ac38f3","email":"johndoe@example.com","firstName":"John","lastName":"Doe","dateOfBirth":"1990-01-01"}'
  recorded_at: Thu, 11 Jun 2026 09:30:06 GMT
recorded_with: VCR 6.4.0
